@import "global";
@import "icons";

// 按钮大小
$button-sml-width: rem-calc(70);
$button-sml-height: rem-calc(36);
$button-cld-width: rem-calc(56);
$button-cld-height: rem-calc(60);

// 控制显示属性
$button-display: inline-block;
$button-line-height: rem-calc(26);
$button-letter-spacing: rem-calc(2);

// 控制按钮文本样式
$button-font-size: rem-calc(14); // 正常
$button-font-family: $body-font-family;
$button-font-weight: $font-weight-normal;
$button-font-align: center;
$button-font-color: $white;

// 控制按钮边框样式
$button-border-width: 1px;
$button-border-style: solid;

$button-login-font-size: rem-calc(16);

// 不同类型颜色控制
$button-primary-bg-color: #3b9eff;
$button-primary-color: $white;
$button-primary-border-color: #3b9eff;
$button-login-color: #50a9ff;
$button-login-bg-color: #eef7ff;
$button-login-border-color: #eef7ff;

// 创建一个基础按钮的样式
// $style - 是否添加样式
// $display - 控制显示方式. Default: $button-display || inline-block
@mixin button-base ($style:true, $display:$button-display) {
  @if $style {
    position: relative;
    margin: 0;
    line-height: normal;
    border-width: $button-border-width;
    border-style: $button-border-style;
    font-size: $button-font-size;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    text-decoration: none;
    text-align: $button-font-align;
    cursor: $cursor-pointer-value;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius:0;
    outline: 0;
  }
  @if $display { display: $display; }
}

@include exports ("bottons") {
  button, .button {
    @include button-base;
    letter-spacing: $button-letter-spacing;

    // 固定宽高缸
    &.cylinder {
      width: $button-cld-width;
      height: $button-cld-height;
      line-height: $button-cld-height;
    }

    &.small {
      width: $button-sml-width;
      height: $button-sml-height;
      line-height: $button-sml-height;
    }

    &.primary {
      color: $button-primary-color;
      background-color: $button-primary-bg-color;
      border-color: $button-primary-border-color;
    }

    &.login {
      color: $button-login-color;
      font-size: $button-login-font-size;
      background-color: $button-login-bg-color;
      border-color: $button-login-border-color;

      &:hover {
        background-color: $white;
      }
    }

    // 行高机制真是麻烦
    .icon-search {
      display: inline-block;
      margin: 0 auto;
      line-height: rem-calc(26); // 加俩像素就可以居中?
    }
  }
}