@import "components/_global.scss";

$icon-max-container-width: rem-calc(30);
$icon-max-container-height: rem-calc(30);
$icon-max-container-bg-color: #f0f0f0;

@include exports ("icons") {

  .icon-max-container {
    display: inline-block;
    width: $icon-max-container-width;
    height: $icon-max-container-height;
    border-radius: 5px;
    background-color: $icon-max-container-bg-color;
    cursor: pointer;
  }

  .icon-btn {
    display: inline-block;
    cursor: pointer;
  }

  .icon-sprite, .icon-arrow, .icon-btn-down, .icon-douban, .icon-qone, .icon-search, .icon-tweibo, .icon-weibo, .icon-weixin {
    background-image: url('../images/../images/icon-s24f4a4683e.png');
    background-repeat: no-repeat;
  }

  .icon-arrow {
    background-position: 0 0;
    height: 5px;
    width: 7px;
  }

  .icon-btn-down {
    background-position: 0 -5px;
    height: 20px;
    width: 17px;
  }

  .icon-douban {
    background-position: 0 -25px;
    height: 20px;
    width: 20px;
  }
  .icon-douban:hover, .icon-douban.douban-hover {
    background-position: 0 -45px;
  }

  .icon-qone {
    background-position: 0 -65px;
    height: 20px;
    width: 20px;
  }
  .icon-qone:hover, .icon-qone.qone-hover {
    background-position: 0 -85px;
  }

  .icon-search {
    background-position: 0 -105px;
    height: 24px;
    width: 24px;
  }

  .icon-tweibo {
    background-position: 0 -129px;
    height: 20px;
    width: 20px;
  }
  .icon-tweibo:hover, .icon-tweibo.tweibo-hover {
    background-position: 0 -149px;
  }

  .icon-weibo {
    background-position: 0 -169px;
    height: 20px;
    width: 20px;
  }
  .icon-weibo:hover, .icon-weibo.weibo-hover {
    background-position: 0 -189px;
  }

  .icon-weixin {
    background-position: 0 -209px;
    height: 20px;
    width: 20px;
  }
  .icon-weixin:hover, .icon-weixin.weixin-hover {
    background-position: 0 -229px;
  }

}


