@import "global";

// 控件基础字大小
$controls-base-font-size: rem-calc(16);
$input-padding-left: rem-calc(10);

// 搜索输入框
$search-input-height: rem-calc(36);
$search-dropdown-content-max-height: rem-calc(200);

$search-input-border-color: #3b9eff;
$search-dropdown-broder-color: #D3D7D9;
$search-option-hover-bg-color: #F0F0F0;
$search-option-hover-font-color: $black;

$search-input-border: 1px solid $search-input-border-color;

// 下拉框
$select-control-font-size: rem-calc(14);
$select-control-bg-color: $white;

$select-input-height: rem-calc(34);
$select-input-padding-left: rem-calc(12);
$select-input-padding-right: rem-calc(12);
$select-input-after-width: rem-calc(7);
$select-input-line-height: $select-input-height;

$select-dropdown-content-display: inline-block;
$select-dropdown-content-max-height: rem-calc(126);
$select-dropdown-line-height: rem-calc(26);

$select-option-hover-font-color: $white;
$select-option-hover-bg-color: #3a9eff;
$select-options-cursor: pointer;

$select-border-color: #3b9eff;


@include exports ("input") {

  input { outline: 0; }

  input.search-input {
    height: $search-input-height;
    //line-height: $search-input-height;
    padding-left: $input-padding-left;
    border: $search-input-border;
  }

  .search-control {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    line-height: 1;

    .search-dropdown {
      position: absolute;
      z-index: 1;
      width: 100%;
      max-height: $search-dropdown-content-max-height;
      margin-top: -1px;
      overflow: auto;
      line-height: $select-dropdown-line-height;
      border: 1px solid $search-dropdown-broder-color;
      border-top-color: $search-input-border-color;

      .search-dropdown-content {
        display: inline-block;
        min-width: 100%;
        background-color: $white;

        .option {
          padding-left: $input-padding-left;
          cursor: $select-options-cursor;

          font-size: 14px;
          line-height: 29px;

          &.hover, &:hover {
            color: $search-option-hover-font-color;
            background-color: $search-option-hover-bg-color;
          }
        }
      }
    }
  }

  .select-control {
    position: relative;
    display: inline-block;
    font-size: $select-control-font-size;
    white-space: nowrap;
    background-color: $select-control-bg-color;

    .select-input {
      padding-left: $select-input-padding-left;
      padding-right: $select-input-padding-right;
      border: 1px solid $select-border-color;
      line-height: $select-input-line-height;
      cursor: pointer;

      &::after {
        content: "";
        display: inline-block;
        margin-left: $select-input-after-width;
        margin-right: -$select-input-after-width;
        vertical-align: 2px;

        @extend .icon-arrow;
      }
    }

    .select-dropdown {
      position: absolute;
      z-index: 1;
      width: 100%;
      max-height: $select-dropdown-content-max-height;
      margin-top: -1px;
      overflow: auto;
      line-height: $select-dropdown-line-height;
      border: 1px solid $select-border-color;

      .select-dropdown-content {
        display: inline-block;
        min-width: 100%;
        background-color: $white;
      }

      .option {
        padding-left: $select-input-padding-left;
        cursor: $select-options-cursor;

        &.hover, &:hover {
          color: $select-option-hover-font-color;
          background-color: $select-option-hover-bg-color;
        }
      }
    }
  }
}