<div ng-show="show" class="modal" style="width: 360px; height:360px; margin:-180px 0 0 -180px;">
  <div class="modal-header">
      <a style="text-decoration:none;
        color: #000000;
        float: right;
        font-size: 24px;
        font-weight: bold;
        cursor:pointer;
        line-height: 20px;
        opacity: 0.2;
        text-shadow: 0 1px 0 #FFFFFF;" target="_self" ng-click="show=!show">×</a>
      <h3>分享到微信朋友圈</h3>
  </div>
  <div id="qrcode-body" style="width: 256px; height: 256px; margin: 25px auto;"></div>
</div>
